article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201c \201d \2018 \2019;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
}

body {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  background: url("../images/background.jpg") no-repeat fixed;
  background-size: cover;
}

.wrapper {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

p {
  font-size: 1.3rem;
}

h1 {
  font-family: "Homemade Apple", cursive;
  font-size: 4rem;
  margin: 1rem 0;
}

h2 {
  font-family: "Homemade Apple", cursive;
  font-size: 1.2rem;
}

@media (max-width: 400px) {
  p {
    font-size: 0.8rem;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 1rem;
  }
}

.overlay {
  min-height: 90vh;
  width: 90vw;
  background: rgba(255, 255, 255, 0.75);
  margin: 30px auto;
  padding: 2%;
}

.landing {
  text-align: center;
}

.landing p {
  margin: 20px 0;
}

.landing .message {
  font-size: 1.5rem;
  font-family: "Homemade Apple", cursive;
  display: inline;
}

.typed-cursor {
  color: #f7b8d9;
  margin-left: 5px;
}

.heart {
  display: inline-block;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10% 0;
}

.imageContainer {
  width: 250px;
  height: 250px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: 2px 2px 5px #999;
          box-shadow: 2px 2px 5px #999;
  background: #f5cae0e8;
  position: relative;
}

.imageContainer:nth-of-type(2n) {
  background: #bddab6ea;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.imageContainer:nth-of-type(3n) {
  background: #cbebf7ea;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

.imageContainer:nth-child(1n + 5) {
  margin-top: -100px;
  z-index: 1;
}

.imageContainer:hover, .imageContainer:focus {
  z-index: 2;
  -webkit-transform: rotate(0) scale(1.3);
          transform: rotate(0) scale(1.3);
}

@media (max-width: 1223px) {
  .imageContainer:nth-child(1n + 4) {
    margin-top: -100px;
    z-index: 1;
  }
}

@media (max-width: 611px) {
  .imageContainer:nth-child(1n + 2) {
    margin-top: -70px;
    z-index: 1;
  }
  .imageContainer:nth-child(1n + 2):hover, .imageContainer:nth-child(1n + 2):focus {
    z-index: 2;
  }
}

.image {
  width: 85%;
  height: 70%;
  background: white;
  margin: 20px auto;
  border: 4px solid white;
}

.image img {
  max-width: 100%;
  height: 100%;
  display: block;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */